section
    header.main
        h1 Admin Primary Menu
    form(action="/dashboard/menu" method="post")
        .row.gtr-uniform
            .col-8
                label(for="menuConfig") Edit Menu
                select#menuConfig(name="menu")
                    option(value="main") Primary Menu
                    option(value="social") Social Menu
            .col-6
                label(for="name") Name
                input#name(type="text", name="name" placeholder="Menu Display Name" required)
            .col-6
                label(for="link") Link
                input#link(type="text" name="link" placeholder="Hiperlink")
            ul.actions
                li
                    input.primary(type="submit", value="CREATE")
        div#menu-content.table-wrapper
            table
                thead 
                    tr 
                        th Name
                        th Link
                        th(colspan=2) SubMenu
                tbody#menu-content-body
                    each value in main
                        if(value.options.length==0)
                            tr
                                td= value.name
                                td= value.href
                                td(colspan=2) no submenu
                        if(value.options.length >0)
                            tr
                                td.middle(rowspan=value.options.length+1)= value.name
                                td.middle(rowspan=value.options.length+1)= value.href
                                td 
                                    strong Sub Menu
                                td 
                                    strong Link
                            each valueSubmenu in value.options
                                tr
                                    td= valueSubmenu.name
                                    td= valueSubmenu.href  
                
